#canvas {
    border-style: solid;
}

.header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.canvas-container {
    border-style: solid;
    background-color: aqua;
}

.stats {
    border-style: solid;
    background-color: blueviolet;
}
