#canvas {
    border-style: solid;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

.header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

/*
.canvas-container {
    border-style: solid;
    background-color: aqua;
}
*/

.stats {
    border-style: solid;
    background-color: blueviolet;
}
